.nav_bar {
    text-align: center;
}

.result_container {
    display: grid;
    grid-template-columns: 
    200px 
    200px
    200px;
    grid-template-rows: 
    200px 200px;
    gap: 5px;
    
}

.result_image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.result_title {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.result_link {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}